@import "tailwindcss";

:root {
  --cream: #eeeeee;
  --bcg-color: #17191a;
  --blocks-color: #222425;
  --fz-small: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: var(--font-geist-inter);
  background-color: var(--bcg-color);
  color: var(--cream);
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
